.login {
    padding: 120px 70px;
}

.login_place_change-pass {
    padding: 150px 70px;
}

.login__title {
    margin: 0;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
}

.login__form {
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
}

.login__form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFAFA;
}

.login__form-label_after-textarea {
    margin-top: 15px;
}

.login__input {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
    border: none;
    border: 2px solid #2E2A29 ;
    border-radius: 8px;
    background-color: transparent;
    outline:none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFAFA;
    transition: all .3s ease-in;
}

.login__input:last-of-type {
    margin-bottom: 0;
}

.login__input:focus {
    border-color: #D0D0D0;
}

.login__input_textarea {
    height: 200px;
    resize: none;
    margin-bottom: 15px;
}

.login__submit-button {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 13px 0 15px 0;
    border: none;
    background-color: #3456F3;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .3s ease-in;
}

.login__submit-button:hover {
    opacity: .8;
}

.login__submit-button_disabled {
    background-color: #D0D0D0;
    color: #0A0A0A;
}

.login__redirect-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
}

.login__redirect-link {
    color: #FFFAFA;
    transition: all .3s ease-in;
}

.login__redirect-link:hover {
    opacity: .8;
}

.login__map-text {
    margin: 0;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

@media screen and (max-width: 1000px) {
    .login {
        padding: 120px 30px;
    }

    .login__title {
        font-size: 32px;
        line-height: 34px;
        text-align: center;
    }

    .login__form {
        width: 55%;
    }

    .login__redirect-text  {
        font-size: 14px;
        line-height: 16px;
    }

    .login__map-text {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 540px) {
    .login {
        padding: 100px 10px;
    }

    .login__title {
        max-width: 70%;
        margin: 0 auto;
        font-size: 28px;
        line-height: 30px;
    }

    .login__form {
        width: 70%;
    }

    .login__redirect-text  {
        font-size: 12px;
        line-height: 14px;
    }

    .login__submit-button  {
        font-size: 13px;
        line-height: 16px;
    }

    .login__map-text {
        font-size: 16px;
        line-height: 18px;
    }
}